@page "/ingredientsoverview"

@using CookyBook.Shared
@using CookyBook.Shared.DataTransferObjects
@inject HttpClient Http

<PageTitle>CookyBook</PageTitle>

@if (Ingredients == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="wrapper">
        <div class="header">Ingredients</div>

        <p></p>

        @if (!IsHidden)
        {
            <button Delete style="height:50px; width: 50px; margin:10px;" @onclick="DeleteIngredient">
                <span class="oi oi-trash"></span>
            </button>

        }
        <button Add onclick="location.href='save'" style="height:50px; width: 50px; margin: 10px;">
            <span class="oi oi-plus"></span>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Ingredients)
            {
                <tr>
                    <td><input type="checkbox" value="@ingredient.Selected" /></td>
                    <td>@ingredient.Id</td>
                    <td>@ingredient.Title</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<IngredientDto>? Ingredients;
    public bool IsHidden => Ingredients == null || Ingredients.Count() == 0 ? true : false;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<IngredientDto[]>("Ingredient");
        Ingredients = response?.ToList<IngredientDto>();
    }

    public async void DeleteIngredient()
    {
        List<IngredientDto> ItemsToDelete = new();
        ItemsToDelete = Ingredients!.Where(x => x.Selected).ToList<IngredientDto>();
        foreach (var ingredient in ItemsToDelete)
        {
            await Http.DeleteAsync($"Ingredient/{ingredient.Id}");
            Ingredients!.Remove(ingredient);
            this.StateHasChanged();
        }
    }
}
