@page "/nutrientoverview"

@using CookyBook.Shared
@using CookyBook.Shared.DataTransferObjects
@inject HttpClient Http

<PageTitle>CookBook</PageTitle>

<h1>CookBook</h1>

@if (nutrients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nutrient in nutrients)
            {
                <tr>
                    <td><input type="checkbox" value="@nutrient.Selected" /></td>
                    <td>@nutrient.Id</td>
                    <td>@nutrient.Title</td>
                    <td><input type="button" value="Edit"></td>
                    <td><input type="button" value="Delete"></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private nutrientDto[]? nutrients;

    protected override async Task OnInitializedAsync()
    {
        nutrients = await Http.GetFromJsonAsync<nutrientDto[]>("nutrient");


    }



}
